<% provide(:title, 'Editing Coordinator Profile') %>
<% provide(:button_text, 'Update Profile Information') %>
<% flash[:success] = notice unless notice.nil? %>

<h1>Editing Coordinator Profile</h1>

<%= render 'form', coordinator: @coordinator %>



<%= link_to 'Show', @coordinator %> |
<%= link_to 'Back', coordinators_path %>
