<% provide(:title, 'Coordinator Register') %>
<% provide(:button_text, 'Register') %>

<h1>Coordinator Register</h1>

<%= render 'form', coordinator: @coordinator %>

<%= link_to 'Back', coordinators_path %>





