<footer class="footer">
 <div class="row">
     <div class="col-lg-3 col-sm-3 col-xs-12">
      <ul><p style="color:black;"><strong>Contact us</strong></p></ul>
      
    <input type="text"placeholder="Name" value="" name="yourname" size="10" style=" border-bottom: black 1px solid;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    background-color: transparent;" />
    
   <input type="text"placeholder="Email" value="" name="email" size="10" style=" border-bottom: black 1px solid;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    background-color: transparent;" />
    
    <textarea  rows="5" id="comment" placeholder="message"style=" border-bottom: black 1px solid;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    background-color: transparent;">  
    </textarea>
     <ul class="nav navbar-nav navbar-right">
        
    <%= link_to "Send", "#", class: "btn btn-link" %></ul>  
    </div>
    
    <div class="col-lg-3 col-sm-3 col-xs-12">
      <ul>
      <p style="color:black;"><strong>Gneral inquires</strong></p>
      <li>Andy Song</li>
      <li>Junliang Jiang</li>
      <li>All</li>
      </ul>
      </div>
      
      <div class="col-lg-3 col-sm-3 col-xs-12">
      <ul>
      <p style="color:black;"><strong>Userful Links</strong></p>
      <li>Rmit Course</li>
      <li>RMIT Help Desk</li>
      <li>RMIT International</li>
      </ul>
      </div>
      
      <div class="col-lg-3 col-sm-3 col-xs-12">
      <ul>
      <p style="color:black;"><strong>Media</strong></p>
      <li>Youtube</li>
      <li>Twitter</li>
      <li>Facebook</li>
      <li>Instagram</li>
      <li>Skype</li>
      </ul>
      </div>
      </div>
      <br />
      
    <div class="row">
    <div class="col-lg-3 col-sm-3 col-xs-12">
      <small>
        <ul>
        <li>Tel:0123456789</li>
        <li>Fax:0123456</li>
        <li>junliang.jiang@rmit.edu.au</li>
        </ul>
      </small>
    </div>
    </div>
   
 

  
  
</footer>