<footer class="footer">
 <div class="row">
     <div class="col-lg-3 col-sm-3 col-xs-12">
      <ul><p style="color:black;"><strong>Contact us</strong></p></ul>
      
    <input type="text"placeholder="Name" value="" name="yourname" size="10" style=" border-bottom: black 1px solid;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    background-color: transparent;" />
    
   <input type="text"placeholder="Email" value="" name="email" size="10" style=" border-bottom: black 1px solid;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    background-color: transparent;" />
    
    <textarea  rows="5" id="comment" placeholder="message"style=" border-bottom: black 1px solid;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    background-color: transparent;">  
    </textarea>
     <ul class="nav navbar-nav navbar-right">
        
    <%= link_to "Send", "#", class: "btn btn-link" %></ul>  
    </div>
    
    <div class="col-lg-3 col-sm-3 col-xs-12">
      <ul>
      <p style="color:black;"><strong>Gneral inquires</strong></p>
      <li><%= link_to "Andy Song", "#", class: "btn btn-link" %></li>
      <li><%= link_to "Andy Song", "#", class: "btn btn-link" %></li>
      <li><%= link_to "All", "#", class: "btn btn-link" %></li>
      </ul>
      </div>
      
      <div class="col-lg-3 col-sm-3 col-xs-12">
      <ul>
      <p style="color:black;"><strong>Userful Links</strong></p>
      <li><a href="https://www.rmit.edu.au/students/student-essentials/program-and-course-information/course-guides">
       Rmit Course</a></li>
      <li><a href="https://www.rmit.edu.au/students/support-and-facilities/it-services-for-students/service-and-support-centre">
       RMIT Help Desk</a></li>
      <li><a href="https://www.rmit.edu.au/study-with-us/international-students">
       RMIT International</a></li>
      </ul>
      </div>
      
      <div class="col-lg-3 col-sm-3 col-xs-12">
      <ul>
      <p style="color:dark;"><strong>Media</strong></p>
      <li><a href="https://www.youtube.com/">Youtube</a></li>
      <li><a href="https://twitter.com/">Twitter</a></a></li>
      <li><a href="https://www.facebook.com/">Facebook</a></li>
      <li><a href="https://www.instagram.com/">Instagram</a></li>
      <li><a href="http://skype.com/">Skype</a></li>
      </ul>
      </div>
      </div>
      <br />
      
    <div class="row">
    <div class="col-lg-3 col-sm-3 col-xs-12">
      <small>
        <ul>
        <li>Tel:0123456789</li>
        <li>Fax:0123456</li>
        <li>junliang.jiang@rmit.edu.au</li>
        </ul>
      </small>
    </div>
    </div>
   
 

  
  
</footer>